<h1>Héroe <span>Nombre del Héroe</span></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button class="btn btn-danger" routerLink="/heroes">
      <fa-icon [icon]="faArrowLeft"></fa-icon>
      Regresar
    </button>
  </div>
</div>

<div class="row animated fadeIn">
  <div class="col">
    <form (ngSubmit)="guardar( f )" #f="ngForm">

      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text" class="form-control" disabled="disabled"
        placeholder="Firebase ID"
        [(ngModel)]="heroe.id" name="id">
        <small class="form-text text-muted">Este campo es autogenerado</small>
      </div>

      <div class="form-group">
        <label>Nombre</label>
        <input type="text" class="form-control"
        placeholder="Nombre del héroe" required
        [(ngModel)]="heroe.nombre" name="nombre">
      </div>

      <div class="form-group">
        <label>Poder</label>
        <input type="text" class="form-control"
        placeholder="Poder del héroe"
        [(ngModel)]="heroe.poder" name="poder">
      </div>

      <div class="form-group">
        <label>Estado</label>
        <br>
        <button *ngIf="heroe.vivo" (click)="heroe.vivo = false"
          class="btn btn-outline-success w-50" type="button">
            <fa-icon [icon]="faSmileWink"></fa-icon>
            Vivo
        </button>
        <button *ngIf="!heroe.vivo" (click)="heroe.vivo = true"
          class="btn btn-outline-danger w-50" type="button">
            <fa-icon [icon]="faDizzy"></fa-icon>
            Muerto
        </button>
      </div>

      <hr>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary w-25">
          <fa-icon [icon]="faSave"></fa-icon>
          Guardar
        </button>
      </div>

    </form>
  </div>

</div>


